<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

    <title>Index</title>  
</head>  
<body class="container-fluid" >    

{% load crispy_forms_tags %}


<div class="row">
    <div class="col-6">
        <form method="post" class="post-form " id="movie-form" >
            {% csrf_token %}
            <!-- {{ form|crispy }} -->
            <table>{{ formm.as_table }}</table>
            <button type="submit" id="submitm" class="btn btn-primary">Submit</button>
          </form>
          <a href="showm">Show All Movies</a>
        
    </div>

    <div class="col-6">
        
        <form class="post-form" id="actor-form">
            {% csrf_token %}
            <table>{{ forma.as_table }}</table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="showa">Show All actors</a>

    </div>
</div>

</table>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Actor Name</th>  
        <th>Age</th>  
        <th>lead</th>  
        <th>movie</th>  
    </tr>  
    </thead>  
    <tbody>  
        {% for actor in actor_obj.object_list %}  
            <tr>  
                <td>{{ actor.actor_name }}</td>  
                <td>{{ actor.age }}</td>  
                <td>{{ actor.lead }}</td>  
                <!-- <td>{{ actor.movie.all }}</td>   -->
                <td>
                    {% for m in actor.movie.all %}
                    {{m}} ,
                    {% endfor %}
                
                </td>
            </tr>  
        {% endfor %}  
            </tbody>  
        </table>  
        <center>
            {%if actor_obj.has_previous %} {# whether the previous page exists #}
                <a href="?page1={{actor_obj.previous_page_number}}"><</a> {# link to the prev page #}
            {% endif %}
            <span>{{actor_obj.number}}</span> {# the current page number #}
            
            {%if actor_obj.has_next %} {# whether the next page exists #}
                <a href="?page1={{actor_obj.next_page_number}}">></a> {# link to the next page #}
            {% endif %}
        </center>  
</table> 


<hr>
{% load cache %}


<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Movie Name</th>  
        <th>rating</th>  
        <th> cast</th>  
        <th> genre</th> 
        <th> release date </th> 

    </tr>  
    </thead>  
    <tbody class="movie-list" id="movie-list">  

        {% cache 100 movies %}
        {% for movie in movies %}  
    <tr>  
        <td>{{ movie.movie_name }}</td>  
        <td>{{ movie.rating }}</td>  
        <td>{{ movie.cast }}</td>  
        <td>{{ movie.genre }}</td> 
        <td>{{ movie.release_data }}</td>  
        
    </tr>  
{% endfor %}  
{% endcache %}
    </tbody>  

    <center>
        {%if movie_obj.has_previous %} {# whether the previous page exists #}
            <a href="?page2={{movie_obj.previous_page_number}}"><</a> {# link to the prev page #}
        {% endif %}
        <span>{{movie_obj.number}}</span> {# the current page number #}
        
        {%if movie_obj.has_next %} {# whether the next page exists #}
            <a href="?page2={{movie_obj.next_page_number}}">></a> {# link to the next page #}
        {% endif %}
    </center>  
 
<br>  
<br>  


<script>

jQuery(document).ready(function($){

     $("#actor-form").submit(function (e) {
        // preventing from page reload and default actions
        // e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        console.log(serializedData);
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'addaajax' %}",
            data: serializedData,
            success: function (response) {
                console.log("data added")
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

    $("#movie-form").submit(function (e) {
        // preventing from page reload and default actions
        // e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        console.log(serializedData);
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'addmajax' %}",
            data: serializedData,
            success: function (response) {
                console.log("data added")
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })



    $("#submitm").submit(function (e) {
        // preventing from page reload and default actions
        // e.preventDefault();
        // serialize the data for sending the form data.
        // var serializedData = $(this).serialize();
        // console.log(serializedData);
        // make POST ajax call
        $.ajax({
            type: 'GET',
            url: "{% url 'showmajax' %}",
            data: {'serializedData':'data'},
            success: function (response) {
                console.log("data showd")
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

})
  
//   GET


</script>



</body>  
</html>  