<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

    <title>Index</title>  
</head>  
<body>  

{% load crispy_forms_tags %}


{% if movie == True %}

<form method="post" class="post-form " id="movie-form" >
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    <table>{{ form.as_table }}</table>
    <button type="submit">Submit</button>
  </form>
  <a href="showm">Show All Movies</a>
{% else %}
<form class="post-form" id="actor-form">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="showa">Show All actors</a>
{% endif %}



<script>

jQuery(document).ready(function($){

     $("#actor-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        console.log(serializedData);
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'addaajax' %}",
            data: serializedData,
            success: function (response) {
                console.log("data added")
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

    $("#movie-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        console.log(serializedData);
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'addmajax' %}",
            data: serializedData,
            success: function (response) {
                console.log("data added")
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

})
    
</script>



</body>  
</html>  