<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Index</title>  
</head>  
<body>  

{% load crispy_forms_tags %}


{% if movie == True %}

<form method="post" class="form-control" action="/addm" id="movie-form" >
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    <table>{{ form.as_table }}</table>
    <button type="submit">Submit</button>
  </form>
  <a href="showm">Show All Movies</a>
{% else %}
<form method="post" class="post-form" action="/adda" id="actor-form">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="showa">Show All actors</a>
{% endif %}



</body>  
</html>  